@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

* {
   font-family: "Montserrat", sans-serif;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility scrollbar-hide {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
@custom-variant dark (&:is(.dark *));

@theme { 
  --brand-white: #FFFFFF;
  --brand-light: #F5F5F5;
  --brand-black: #000000;
  --brand-orange: #FF8A00;
  --brand-gold: #C58E02;
  --brand-green: #8BAF20;
}
