@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-strangeways);
  --font-bold: var(--font-strangeways-bold);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  font-size: 1.65rem; /* Increase base font size by 65% */
}

/* Adjust relative text sizes */
.text-xs {
  font-size: 1.15rem;
}

.text-sm {
  font-size: 1.3rem;
}

.text-base {
  font-size: 1.65rem;
}

.text-lg {
  font-size: 1.8rem;
}

.text-xl {
  font-size: 2rem;
}

.text-2xl {
  font-size: 2.4rem;
}
