@import "tailwindcss";
@import "tw-animate-css";

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
@custom-variant dark (&:is(.dark *));

@theme { 
  --brand-white: #FFFFFF;
  --brand-light: #F5F5F5;
  --brand-black: #000000;
  --brand-orange: #FF8A00;
  --brand-gold: #C58E02;
  --brand-green: #8BAF20;
}
